<html ng-app>
	<head>
		<meta charset="UTF-8">
		<script src="../Scripts/angular.min.js"></script>
						<script src="../controllers/controllerDay17.js"></script>
	</head>
	<body>
		<div ng-controller="Day17Ctrl">
			範例一<br />
			{{countDown}}
			<br />
			<button ng-click="stop()">Stop</button>{{istrue}}
				<hr>
		範例二<br />
			{{countDown1}}
			<br />
			<button ng-click="stop1()">Stop1</button>{{istrue1}}
		
		</div>
		<hr>
		<br />
		<a href="../index.htm">index</a>
	</body>

</html>
<!--
  
-->