<html ng-app>
	<head>
		<meta charset="UTF-8">
		<script src="../Scripts/angular.min.js"></script>
		<script src="../controllers/controllerDay16.js"></script>
	</head>
	<body>
		<div ng-controller="Day16Ctrl">
			Check me to check both:<input type="checkbox" ng-model="master"></input>
				<p ng-repeat="checkText in checkTexts">
					<input type="checkbox" ng-checked="master"   />
					{{ checkText.checkName }}
				</p>
			
		</div>
		<hr>
		<br />
		<a href="../index.htm">index</a>
	</body>

</html>
<!-- -->