<html ng-app>
	<head>
		<meta charset="UTF-8">
		<script src="../Scripts/angular.min.js"></script>
						<script src="../controllers/controllerDay8.js"></script>
	</head>
	<body>
		<div ng-controller="Day8Ctrl">
			Value1:<input type="checkbox" ng-model="value1" /><br />
			Value2:<input type="checkbox" ng-model="value2" ng-true-value="yes" ng-false-value="no" /><br />
			value1={{value1}}<br />
			value2={{value2}}
		</div>
		<hr>
		<br />
		<a href="../index.htm">index</a>
	</body>

</html>
<!--
  
-->